RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule .* $0.html
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.html [NC]
RewriteRule ^ %1 [R,L]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule .* $0.php
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteRule ^ %1 [R,L]


RewriteRule ^index/?$                   index.php [NC,L]
RewriteRule ^P_U/?$                     core/pages/P_U.php  [NC,L]
RewriteRule ^register/?$                core/pages/register.php  [NC,L]
RewriteRule ^login/?$                   core/pages/login.php  [NC,L]
RewriteRule ^chek_user/?$               core/db/Chek_User.php  [NC,L]
RewriteRule ^chek_user_login/?$         core/db/chek_user_login.php  [NC,L]
RewriteRule ^Order_FollowUp/?$          core/pages/Order_FollowUp.php  [NC,L]
RewriteRule ^Profile/?$                 core/pages/Profile.php  [NC,L]
RewriteRule ^ScoreBord/?$               core/pages/ScoreBord.php  [NC,L]
RewriteRule ^Wallet/?$                  core/pages/Wallet.php  [NC,L]
RewriteRule ^Logout/?$                  core/pages/Logout.php  [NC,L]

RewriteRule ^List_Camp_Yarjo/?$         core/pages/List_Camp_Yarjo.php  [NC,L]
RewriteRule ^List_FollowUp_Request/?$   core/pages/List_FollowUp_Request.php  [NC,L]
RewriteRule ^List_Product_Shop/?$       core/pages/List_Product_Shop.php  [NC,L]
RewriteRule ^List_Request/?$            core/pages/List_Request.php  [NC,L]
RewriteRule ^List_Users/?$              core/pages/List_Users.php  [NC,L]

RewriteRule ^Register_Camp_Yarjo/?$     core/pages/Register_Camp_Yarjo.php  [NC,L]
RewriteRule ^Register_Gift/?$           core/pages/Register_Gift.php  [NC,L]
RewriteRule ^Register_Offer/?$          core/pages/Register_Offer.php  [NC,L]
RewriteRule ^Register_product/?$        core/pages/Register_product.php  [NC,L]
RewriteRule ^Register_Request/?$        core/pages/Register_Request.php  [NC,L]
RewriteRule ^Register_ScoreBord/?$      core/pages/Register_ScoreBord.php  [NC,L]
RewriteRule ^Register_yarjo/?$          core/pages/Register_yarjo.php  [NC,L]
RewriteRule ^Register_Score/?$          core/pages/Register_Score.php  [NC,L]
